
#container-table-users{
   display: flex;
   justify-content: center;
   
}

.table-users{
    background-color: rgba(255, 255, 255, 0.747);
	text-align: left;
	border-collapse: collapse;
    width: 15em;
    margin-top: 15px;
    font-size: 15px;

}

.th-users, .td-users{
	padding: 10px;
}

.thead-users{
	background-color: var( --azuloscuro);
	color: #fff;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #6697c2;
	color: white;
}